/* the main normal font family */
@font-face {
	font-family: 'Gotham'; /* Reference name */
	src: url('/fonts/Gotham-Light.otf');
}

@font-face {
	font-family: 'Gotham-Bold'; /* Reference name */
	src: url('/fonts/Gotham-Bold.otf');
}

@font-face {
	font-family: 'Gotham-Thin'; /* Reference name */
	src: url('/fonts/Gotham-Thin.otf');
}

.heading {
	font-family: 'Gotham-Bold';
}
.normal-thin {
	font-family: 'Gotham-Thin';
}

/* Arabic Font Family */
/* font-family: 'Tajawal', sans-serif; */
